 .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flow-root;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.container-fluid{
  margin: 1em;
  padding: 1em;
}

.nav-link{
  color: whitesmoke;
  font-family: 'Chelsea Market', cursive;
}

.pName{
  color: green;
}

.content{
  margin: 5px;
  text-align: center;
  color: red;
}

img{
  border-radius: 20px;
  width: 200px;
  height: 150px;
}

Button{
  margin-bottom: 0px;
}

.oPizza{
  justify-content: center;
}


